<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile name="RollingFile" filename="${sys:catalina.home}/logs/imdb.log" filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>

</Configuration>
