<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <session-config>
        <cookie-config>
            <secure>true</secure>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <servlet>
        <servlet-name>testjsp</servlet-name>
        <jsp-file>/testjsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>testjsp</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StayLoginServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.StayLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StayLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StayRegisterServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.StayRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StayRegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/deletecookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>by.popolamov.restourant.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.util.ConcurrentModificationException</exception-type>
        <location>/index.jsp</location>
    </error-page>
</web-app>
